{% extends 'base.html' %}
{% load static %}


{% block title %}
Contact
{% endblock title %}

{% block content %}
<div class="container container__contact">
    <h1 class="text-center mt-5 pt-5">Contact Me</h1>
    <p class="text-center">Send me a message</p>
    <div class="contact-form">
        <form action="/contact/" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="btn btn-danger">Send</button>
        </form>
    </div>
</div>
{% include 'footer.html' %}
{% endblock content %}