{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}
{% endblock title %}

{% block content %}

<main>
    <div class="container__main">
        <h3 class="text-white-50">Hi, I am {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</h3>
        <h2 class="text-danger">{{ user_profile.title }}</h2>
        <p class="text-white my-lg-3 my-md-2 mb-3">
            {{ user_profile.bio }}
        </p>
        <a href="{{ user_profile.cv.url }}" class="text-decoration-none btn btn-danger p-3 px-4 mt-3 d-inline-block">Hire Me</a>
        <div class="socials">
            <a target="_blank" href="{{ user_profile.facebook }}" class="text-decoration-none btn d-inline-block"><i class="uil uil-facebook-f"></i></a>
            <a target="_blank" href="{{ user_profile.instagram }}" class="text-decoration-none btn d-inline-block"><i class="uil uil-instagram"></i></a>
            <a target="_blank" href="{{ user_profile.linkedin }}" class="text-decoration-none btn d-inline-block"><i class="uil uil-linkedin-alt"></i></a>
            <a target="_blank" href="{{ user_profile.twitter }}" class="text-decoration-none btn d-inline-block"><i class="uil uil-twitter-alt"></i></a>
            <a target="_blank" href="{{ user_profile.github }}" class="text-decoration-none btn d-inline-block"><i class="uil uil-github"></i></a>
            <a target="_blank" href="{{ user_profile.whatsapp }}" class="text-decoration-none btn d-inline-block"><i class="uil uil-whatsapp"></i></a>
        </div>
    </div>
</main>

<section class="technologies">
    <div class="container container__technologies">
        <h1>Technologies And Stacks I Use Most</h1>
        <ul class="technologies__ul">
            {% for technology in technologies %}
            <li>
                <figure class="technology">
                    <img src="{{ technology.technology_logo.url }}" alt="{{ technology.technology_name }}">
                    <figcaption><small>{{ technology.technology_name }}</small></figcaption>
                </figure>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section id="projects">
    <h1>Explore My Work</h1>
    <div class="container container__projects">
        <ul>
            {% for project in projects %}
            <li>
                <a target="_blank" href="{{ project.project_url }}">
                    <article class="project">
                        <h3>{{ project.project_name }}</h3>
                        <img src="{{ project.project_image.url }}" alt="{{ project.project_name }}">
                        <p>{{ project.description }}</p>
                        <ul>
                            {% for technology in project.technologies.values_list %}
                            <li>{{ technology.1 }}</li>
                            {% endfor %}
                        </ul>
                    </article>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}